---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Serviços">
  <div class="w-screen flex justify-center flex-col items-center">
    <div class="w-5/6 m-10 flex justify-center">
      <img
        class="rounded-lg"
        src="/prettyImages/servicos/Rectangle 1803.png"
        alt=""
      />
    </div>
    <div class="w-5/6 m-5 flex flex-col jusfify-center items-center">
      <h1 class="text-4xl mb-5 sm:mb-10">ASSESORIA DE IMPRENSA</h1>
      <div class="sm:flex flex-none justify-around">
        <div class="w-full sm:w-1/2">
          <h2 class="section-title">
            Por que você precisa de assesoria de imprensa?
          </h2>
          <p class="paragraph">
            A BMomm Comunicação será o elo entre a sua marca e a imprensa, criando um relacionamento de confiança. A partir de um planejamento de acordo com a necessidade do cliente, traçamos estratégias que aprimoram a visibilidade na mídia, bem como ajudam na manutenção da reputação, evitando crises de imagem.
            A partir de um plano de ações, é possível conquistar espaço na imprensa e potencializar a imagem pessoal nas mídias, passando credibilidade ao público-alvo.
            
          </p>
          <h2 class="section-title">Nossa abordagem e o que oferecemos</h2>
          <p class="paragraph">
            O trabalho da assessoria de imprensa tem um olhar individualizado para cada cliente, a fim de garantir resultados assertivos no nicho de atuação.
          </p>
          <h3 class="sub-title">Produção de releases, notas e pautas para matérias e entrevistas</h3>
          <p class="paragraph">
            A produção de releases, notas e pautas é crucial para uma empresa, pois esses materiais eficazes facilitam a comunicação com a mídia e o público. Eles ajudam a construir reputação, aumentar visibilidade e fortalecer relacionamentos, resultando em cobertura de mídia positiva e oportunidades de entrevistas. Isso significa maior exposição, credibilidade e, em última análise, crescimento dos negócios para a empresa contratante.
          </p>
          <h3 class="sub-title">Seleção de veículos jornalísticos estratégicos do nicho</h3>
          <p class="paragraph">
            A seleção de veículos jornalísticos estratégicos do nicho é essencial para uma empresa, pois direciona a mensagem para o público-alvo relevante. Isso maximiza o impacto da divulgação, economizando tempo e recursos, ao garantir que a empresa apareça nas plataformas certas. Essa estratégia focada resulta em maior eficácia, alcance e reconhecimento, impulsionando o sucesso e a autoridade da empresa no mercado.
          </p>
        </div>
        <div class="w-full sm:w-1/2 ml-0 sm:ml-10">
          <h3 class="sub-title">Elaboração de press kits</h3>
          <p class="paragraph">
            A elaboração de press kits é fundamental para uma empresa, pois fornece um pacote completo de informações e recursos para a mídia. Isso simplifica o trabalho dos jornalistas e aumenta as chances de cobertura positiva. Ao incluir materiais como comunicados de imprensa, fotos de alta qualidade e informações de contato, o press kit facilita a divulgação precisa e eficaz da mensagem da empresa. Isso resulta em uma exposição mais ampla, controle sobre a narrativa e uma presença de mídia mais forte, beneficiando a reputação e o reconhecimento da empresa.
          </p>
          <h3 class="sub-title">Clipping</h3>
          <p class="paragraph">
            O serviço de clipping é crucial para uma empresa, pois monitora e compila todas as menções da marca na mídia. Isso proporciona uma visão abrangente da percepção pública, identifica tendências e ajuda a avaliar o impacto das estratégias de comunicação. Com base nas informações coletadas, a empresa pode ajustar suas táticas, medir o ROI das campanhas e tomar decisões informadas para melhorar sua reputação e imagem. O clipping é uma ferramenta valiosa para a gestão da marca e a tomada de decisões estratégicas baseadas em dados.
          </p>
          <h3 class="sub-title">Gerenciamento de crise</h3>
          <p class="paragraph">
            O gerenciamento de crise é uma capacidade crítica para qualquer empresa, pois permite a resposta rápida e eficaz a situações adversas que podem prejudicar a reputação ou a operação. Isso envolve a identificação precoce de problemas, a elaboração de estratégias de comunicação claras e a coordenação de ações para minimizar danos. O gerenciamento de crise protege a imagem da empresa, mantém a confiança dos clientes e stakeholders e, em última análise, preserva a continuidade dos negócios. É uma salvaguarda essencial para o sucesso a longo prazo e a resiliência da empresa.
          </p>
        </div>
      </div>
    </div>
  </div>
</Layout>

<style>
  .section-title {
    font-family: "Barlow";
    font-size: 32px;
    font-weight: 600;
    line-height: 100.5%;
    letter-spacing: 0.96px;
    margin: 10px 0;
  }

  .sub-title {
    color: #000;
    font-family: Barlow;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: 100.5%;
    letter-spacing: 0.78px;
    margin: 10px 0;
  }

  .paragraph {
    color: #000;
    text-align: justify;
    font-family: "Barlow";
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 119.5%;
    letter-spacing: -0.095px;
    margin: 20px 0;
  }
</style>