---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Serviços">
  <div class="w-screen flex justify-center flex-col items-center">
    <div class="w-5/6 m-10 flex justify-center">
      <img
        class="rounded-lg"
        src="/prettyImages/servicos/Rectangle 1803.png"
        alt=""
      />
    </div>
    <div class="w-5/6 m-5 flex flex-col jusfify-center items-center">
      <h1 class="text-4xl mb-5 sm:mb-10">PRODUÇÃO DE CONTEÚDO</h1>
      <div class="sm:flex flex-none justify-around">
        <div class="w-full sm:w-1/2">
          <h2 class="section-title">
            Por que você precisa de produção de conteúdo?
          </h2>
          <p class="paragraph">
            Produzimos materiais em texto, áudio e vídeo. Criamos conteúdos exclusivos e relevantes, e adaptamos para todas as plataformas. Traçamos estratégias de comunicação de acordo com a necessidade do cliente, do nicho de atuação e do perfil do público consumidor.
          </p>
          <h2 class="section-title">Nossa abordagem e o que oferecemos</h2>
          <p class="paragraph">
            De forma interativa, o cliente pode entregar o público-alvo um conteúdo em diferentes formatos e plataformas.
          </p>
          <h3 class="sub-title">Textos para blog</h3>
          <p class="paragraph">
            A produção e auxílio de textos para blogs são vitais para empresas, pois fornecem conteúdo relevante e valioso para engajar o público-alvo. Isso aumenta a visibilidade online, atrai tráfego qualificado, fortalece a autoridade da marca e impulsiona o envolvimento do cliente. Contratar esse serviço economiza tempo e garante qualidade, permitindo que a empresa se concentre em seu core business, enquanto constrói uma presença online sólida e rentável.
          </p>
          <h3 class="sub-title">Conteúdo de campanhas</h3>
          <p class="paragraph">
            A criação de conteúdo para campanhas é essencial para envolver o público-alvo, transmitir mensagens-chave e alcançar objetivos de marketing. Um conteúdo bem elaborado, seja em anúncios, posts em redes sociais, e-mails ou outros canais, cativa a atenção do público, gera interesse e incentiva a ação desejada. Isso resulta em maior reconhecimento da marca, conversões mais eficazes e uma base de clientes mais leal. Portanto, investir na criação estratégica de conteúdo de campanhas é fundamental para o sucesso e crescimento de uma empresa.
          </p>
        </div>
        <div class="w-full sm:w-1/2 ml-0 sm:ml-10">
          <h3 class="sub-title">Roteiros de vídeos</h3>
          <p class="paragraph">
            Roteiros de vídeos desempenham um papel crucial na produção de conteúdo audiovisual eficaz. Eles fornecem uma estrutura sólida para contar histórias, transmitir mensagens e manter o público envolvido. Um roteiro bem elaborado ajuda a garantir que o vídeo seja claro, coeso e impactante, otimizando o uso do tempo e recursos de produção. Isso resulta em vídeos mais atraentes, informativos e memoráveis, que podem ser uma ferramenta poderosa para compartilhar informações, promover produtos ou serviços e construir relacionamentos com o público. Portanto, investir na criação cuidadosa de roteiros de vídeo é essencial para alcançar metas de comunicação e marketing de forma eficaz.
          </p>
          <h3 class="sub-title">Produção textual e audiovisual</h3>
          <p class="paragraph">
            A produção textual e audiovisual é uma combinação poderosa para transmitir mensagens de maneira abrangente e envolvente. A produção textual é ideal para aprofundar informações, explicar conceitos e fornecer detalhes. Por outro lado, a produção audiovisual, como vídeos e gráficos, é altamente eficaz para contar histórias, mostrar visualmente conceitos e capturar a atenção do público.
Essa abordagem multidimensional permite que uma empresa alcance diferentes tipos de público e satisfaça diversas preferências de consumo de conteúdo. Ao criar uma estratégia que incorpora ambos os formatos, a empresa pode maximizar o alcance, a compreensão e o impacto de suas mensagens. Essa abordagem integrada é essencial para uma comunicação eficaz e uma presença online e offline bem-sucedida.
          </p>
          
        </div>
      </div>
    </div>
  </div>
</Layout>

<style>
  .section-title {
    font-family: "Barlow";
    font-size: 32px;
    font-weight: 600;
    line-height: 100.5%;
    letter-spacing: 0.96px;
    margin: 10px 0;
  }

  .sub-title {
    color: #000;
    font-family: Barlow;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: 100.5%;
    letter-spacing: 0.78px;
    margin: 10px 0;
  }

  .paragraph {
    color: #000;
    text-align: justify;
    font-family: "Barlow";
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 119.5%;
    letter-spacing: -0.095px;
    margin: 20px 0;
  }
</style>