---
import Layout from "../../layouts/Layout.astro";
import Icon from "../../components/icons/Icon.astro"

---

<Layout title="BMomm | Marketing Digital" description="BMomm | Marketing Digital">
  <div class="w-full bg-slate-800 flex justify-center items-center flex-col">
      <div class="w-5/6 flex justify-center">
          <h1 class="text-white font-barlow text-3xl mb-10 mt-20 font-bold">MARKETING DIGITAL</h1>
      </div>
      <div class="w-5/6 flex flex-col">
          <h2 class="text-white text-xl font-semibold font-barlow mb-5">Como fazemos</h2>
          <p class="text-white leading-10 text-justify font-barlow tracking-wider">Com um mundo cada vez mais conectado, estar no mundo online e nas redes sociais é imprescindível. E não estamos falando apenas de presença, mas sim de conteúdos marcantes e relevantes capazes de elevar uma marca e garantir autoridade na web.
          </p>
        </br>
            <p class="text-white leading-10 text-justify font-barlow tracking-wider"> Nós da BMomm Comunicação acreditamos no poder de conexão das redes sociais e pessoas reais e por isso trazemos o melhor aos nossos clientes. Do planejamento até a análise de resultados, vamos criar uma identidade, tanto visual, como de linguagem.</p>
          </p>
      </div>
      <div class="w-5/6 flex  flex-col  text-white mb-28 strategies">
          <h2 class="text-white text-xl font-semibold font-barlow mb-14 mt-20">Estratégias que podem ser utilizadas</h2>
          <div class="w-full h-100 grid grid-rows-6 sm:grid-rows-2 grid-flow-col gap-10">
            <div class="flex items-center deliver">
              <Icon icon="devices" size="1.5em"/>
              <h3>Marketing de Conteúdo</h3>
            </div>
            <div class="flex items-center deliver">
              <Icon icon="car-profile" size="1.5em"/>
              <h3>Tráfego Pago</h3>
            </div>
            <div class="flex items-center deliver">
              <Icon icon="chats-teardrop" size="1.5em"/>
              <h3>Gestão de Redes Sociais</h3>
            </div>
            <div class="flex items-center deliver">
              <Icon icon="envelope-open" size="1.5em"/>
              <h3>Marketing Digital</h3>
            </div>
            <div class="flex items-center deliver">
              <Icon icon="walltet" size="1.5em"/>
              <h3>SEO</h3>
            </div>
            <div class="flex items-center deliver">
              <Icon icon="envelope-open" size="1.5em"/>
              <h3>Email Marketing</h3>
            </div>
          </div>
      </div>
  </div>
</Layout>

<style>

.strategies {
    font-size: 25px;
    font-family: Barlow;
  }
.deliver {
  gap: 1.3em;
}

  .icons p {
    color: white;
    font-family: Barlow;
  }

</style>