---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Serviços">
  <div class="w-screen flex justify-center flex-col items-center">
    <div class="w-5/6 m-10 flex justify-center">
      <img
        class="rounded-lg"
        src="/prettyImages/servicos/Rectangle 1803.png"
        alt=""
      />
    </div>
    <div class="w-5/6 m-5 flex flex-col jusfify-center items-center">
      <h1 class="text-4xl mb-5 sm:mb-10">AÇÕES DE RELACIONAMENTO</h1>
      <div class="sm:flex flex-none justify-around">
        <div class="w-full sm:w-1/2">
          <h2 class="section-title">
            Por que você precisa de ações de relacionamento?
          </h2>
          <p class="paragraph">
            Pensamos em ações que fortaleçam a reputação da sua empresa com conteúdos próprios e relevantes, consolidando a sua marca nas redes sociais com ações de relacionamento.
O Marketing de Influência se baseia em pessoas reais, as quais o seu público se identifica. Essas personalidades compartilham experiências nas redes sociais e influenciam outras pessoas.
          </p>
          <h2 class="section-title">Nossa abordagem e o que oferecemos</h2>
          <p class="paragraph">
            Após o briefing inicial e a análise do perfil da marca, montamos um planejamento com opções de acordo com o objetivo do cliente. São pequenos passos para uma revolução na forma de vender e lidar com o público.
          </p>
          <h3 class="sub-title">Criação de campanha</h3>
          <p class="paragraph">
            A criação de campanhas permite atingir objetivos específicos de marketing ou comunicação. Elas podem aumentar o reconhecimento da marca, promover produtos ou serviços, engajar a audiência ou impulsionar vendas. Ao desenvolver uma campanha eficaz, com mensagens e canais bem direcionados, a empresa maximiza seu impacto, gera interesse, conquista clientes e reforça sua presença no mercado. Campanhas bem-sucedidas podem ser um catalisador para o crescimento e o sucesso contínuo da empresa.
          </p>
          <h3 class="sub-title">Elaboração de mailing (lista de influenciadores e personalidades)</h3>
          <p class="paragraph">
            A elaboração de um mailing eficaz de influenciadores e personalidades é uma ferramenta valiosa para parcerias, promoção de produtos ou serviços e alcance de públicos específicos. Ao identificar e incluir influenciadores relevantes para o nicho da empresa, a marca pode alcançar uma audiência pré-existente, construir credibilidade e fortalecer seu posicionamento. Um mailing bem-curado economiza tempo e recursos, maximiza o potencial de colaborações e contribui para o crescimento e reconhecimento da empresa no mercado.
          </p>
        </div>
        <div class="w-full sm:w-1/2 ml-0 sm:ml-10">
          <h3 class="sub-title">Gestão da ação (contatos, organização e entregas);</h3>
          <p class="paragraph">
            A gestão da ação na Assessoria de Imprensa é um componente-chave para o sucesso. Isso envolve a organização eficiente de contatos, tarefas e entregas. Manter um banco de dados atualizado de contatos da mídia garante que os comunicados de imprensa e convites sejam direcionados ao público certo. A organização eficaz do trabalho, com prazos bem definidos e um sistema de acompanhamento, ajuda a evitar atrasos e erros. Por fim, as entregas oportunas de comunicados de imprensa e materiais de mídia são cruciais para garantir que a mensagem seja recebida e coberta pela mídia. Uma gestão de ação bem executada aumenta a eficácia da Assessoria de Imprensa, fortalece os relacionamentos com a mídia e contribui para o sucesso das iniciativas da empresa.
          </p>
          <h3 class="sub-title">Monitoramento dos resultados</h3>
          <p class="paragraph">
            O monitoramento dos resultados desempenha um papel fundamental em qualquer estratégia de Assessoria de Imprensa. Isso envolve a análise das métricas-chave, como cobertura de mídia, alcance, engajamento e sentimento da mídia em relação à empresa. Através desse acompanhamento, é possível avaliar o impacto das iniciativas de Assessoria de Imprensa, identificar tendências e ajustar a estratégia conforme necessário. Além disso, fornece insights valiosos para medir o retorno sobre o investimento (ROI) e demonstrar o valor da Assessoria de Imprensa para a empresa. O monitoramento contínuo dos resultados permite uma abordagem orientada por dados e aprimora a eficácia das futuras ações de comunicação.
          </p>
        </div>
      </div>
    </div>
  </div>
</Layout>

<style>
  .section-title {
    font-family: "Barlow";
    font-size: 32px;
    font-weight: 600;
    line-height: 100.5%;
    letter-spacing: 0.96px;
    margin: 10px 0;
  }

  .sub-title {
    color: #000;
    font-family: Barlow;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: 100.5%;
    letter-spacing: 0.78px;
    margin: 10px 0;
  }

  .paragraph {
    color: #000;
    text-align: justify;
    font-family: "Barlow";
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 119.5%;
    letter-spacing: -0.095px;
    margin: 20px 0;
  }
</style>