---

import Icon from "../../components/icons/Icon.astro"

---

  <div class="w-full bg-white flex justify-center items-center flex-col ">
      <div class="w-5/6 flex justify-center ">
          <h1 class="text-black font-barlow text-3xl mb-10 mt-20 font-bold">ASSESORIA DE IMPRENSA</h1>
      </div>
      <div class="w-5/6 flex flex-col ">
          <h2 class="text-black text-xl font-semibold font-barlow mb-5">Como fazemos</h2>
          <p class="text-black leading-10 text-justify font-barlow tracking-wider">A BMomm Comunicação será o elo entre a sua marca e a imprensa, criando um relacionamento de confiança. A partir de um planejamento de acordo com a necessidade do cliente, traçamos estratégias que aprimoram a visibilidade na mídia, bem como ajudam na manutenção da reputação, evitando crises de imagem.
          </p>
        </br>
            <p class="text-black leading-10 text-justify font-barlow tracking-wider"> Nós da BMomm Comunicação acreditamos no poder de conexão das redes sociais e pessoas reais e por isso trazemos o melhor aos nossos clientes. Do planejamento até a análise de resultados, vamos criar uma identidade, tanto visual, como de linguagem.</p>
          </p>
        </br>
            <p class="text-black leading-10 text-justify font-barlow tracking-wider">O trabalho da assessoria de imprensa tem um olhar individualizado para cada cliente, a fim de garantir resultados assertivos no nicho de atuação.</p>
          </p>
      </div>
      <div class="w-5/6 flex  flex-col  text-black mb-28 strategies pb-20 border-b-2">
          <h2 class="text-black text-xl font-semibold font-barlow mb-14 mt-20">Estratégias que podem ser utilizadas</h2>
          <div class="w-full h-100 grid grid-rows-6 sm:grid-rows-2 grid-flow-col gap-10">
            <div class="flex items-center deliver">
              <Icon icon="devices" size="1.5em"/>
              <h3>Produção de releases, notas e pautas para matérias e entrevistas</h3>
            </div>
            <div class="flex items-center deliver">
              <Icon icon="car-profile" size="1.8em"/>
              <h3>Seleção de veículos jornalísticos estratégicos do nicho</h3>
            </div>
            <div class="flex items-center deliver">
              <Icon icon="chats-teardrop" size="1.8em"/>
              <h3>Abrangência estadual ou nacional</h3>
            </div>
            <div class="flex items-center deliver">
              <Icon icon="pencil-line" size="1.5em"/>
              <h3>Elaboração de press kits</h3>
            </div>
            <div class="flex items-center deliver">
              <Icon icon="walltet" size="1.5em"/>
              <h3>Clipping</h3>
            </div>
            <div class="flex items-center deliver">
              <Icon icon="envelope-open" size="1.5em"/>
              <h3>Gerenciamento de crise</h3>
            </div>
          </div>
      </div>
  </div>

<style>

.strategies {
    font-size: 25px;
    font-family: Barlow;
  }
.deliver {
  gap: 1.3em;
}

  .icons p {
    font-family: Barlow;
  }

</style>