---
import Icon from "../../components/icons/Icon.astro"
---

  <div class="w-full bg-white flex justify-center items-center flex-col">
      <div class="w-5/6 flex justify-center">
          <h1 class="text-black font-barlow text-3xl mb-10 font-bold">PRODUÇÃO DE CONTEÚDO</h1>
      </div>
      <div class="w-5/6 flex flex-col">
          <h2 class="text-black text-xl font-semibold font-barlow mb-5">Como fazemos</h2>
          <p class="text-black leading-10 text-justify font-barlow tracking-wider">Produzimos materiais em texto, áudio e vídeo. Criamos conteúdos exclusivos e relevantes, e adaptamos para todas as plataformas. Traçamos estratégias de comunicação de acordo com a necessidade do cliente, do nicho de atuação e do perfil do público consumidor.
          </p>
        </br>
            <p class="text-black leading-10 text-justify font-barlow tracking-wider">De forma interativa, o cliente pode entregar o público-alvo um conteúdo em diferentes formatos e plataformas.</p>
          </p>
      </div>
      <div class="w-5/6 flex  flex-col  text-black mb-28 strategies">
          <h2 class="text-black text-xl font-semibold font-barlow mb-14 mt-20">Estratégias que podem ser utilizadas</h2>
          <div class="w-full h-100 grid grid-rows-6 sm:grid-rows-2 grid-flow-col gap-10">
            <div class="flex items-center deliver">
              <Icon icon="devices" size="1.5em"/>
              <h3>Textos para blog</h3>
            </div>
            <div class="flex items-center deliver">
              <Icon icon="car-profile" size="1.5em"/>
              <h3>Conteúdo de campanhas</h3>
            </div>
            <div class="flex items-center deliver">
              <Icon icon="chats-teardrop" size="1.5em"/>
              <h3>Roteiros de vídeos</h3>
            </div>
            <div class="flex items-center deliver">
              <Icon icon="envelope-open" size="1.5em"/>
              <h3>Produção textual e audiovisual</h3>
            </div>
          </div>
      </div>
  </div>

<style>

.strategies {
    font-size: 25px;
    font-family: Barlow;
  }
.deliver {
  gap: 1.3em;
}

  .icons p {
    font-family: Barlow;
  }

</style>