---

import Icon from "../../components/icons/Icon.astro"

---

  <div class="w-full bg-white flex justify-center items-center flex-col">
      <div class="w-5/6 flex justify-center">
          <h1 class="text-black font-barlow text-3xl mb-10 font-bold">AÇÕES DE RELACIONAMENTO</h1>
      </div>
      <div class="w-5/6 flex flex-col">
          <h2 class="text-black text-xl font-semibold font-barlow mb-5">Como fazemos</h2>
          <p class="text-black leading-10 text-justify font-barlow tracking-wider">Pensamos em ações que fortaleçam a reputação da sua empresa com conteúdos próprios e relevantes, consolidando a sua marca nas redes sociais com ações de relacionamento.
          </p>
        </br>
            <p class="text-black leading-10 text-justify font-barlow tracking-wider"> O Marketing de Influência se baseia em pessoas reais, as quais o seu público se identifica. Essas personalidades compartilham experiências nas redes sociais e influenciam outras pessoas.</p>
          </p>
        </br>
            <p class="text-black leading-10 text-justify font-barlow tracking-wider"> Após o briefing inicial e a análise do perfil da marca, montamos um planejamento com opções de acordo com o objetivo do cliente. São pequenos passos para uma revolução na forma de vender e lidar com o público.</p>
          </p>
      </div>
      <div class="w-5/6 flex  flex-col  text-black mb-28 strategies pb-20 border-b-2">
          <h2 class="text-black text-xl font-semibold font-barlow mb-14 mt-20">Estratégias que podem ser utilizadas</h2>
          <div class="w-full h-100 grid grid-rows-4 sm:grid-rows-2 grid-flow-col gap-10">
            <div class="flex items-center deliver">
              <Icon icon="devices" size="1.5em"/>
              <h3>Criação de campanha;</h3>
            </div>
            <div class="flex items-center deliver">
              <Icon icon="car-profile" size="1.8em"/>
              <h3>Elaboração de mailing (lista de influenciadores e personalidades);</h3>
            </div>
            <div class="flex items-center deliver">
              <Icon icon="chats-teardrop" size="1.8em"/>
              <h3>Gestão da ação (contatos, organização e entregas)</h3>
            </div>
            <div class="flex items-center deliver">
              <Icon icon="envelope-open" size="1.5em"/>
              <h3>Monitoramento dos resultados</h3>
            </div>

          </div>
      </div>
  </div>

<style>

.strategies {
    font-size: 25px;
    font-family: Barlow;
  }
.deliver {
  gap: 1.3em;
}

  .icons p {
    font-family: Barlow;
  }

</style>