---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Clientes">
  <div class="flex justify-center items-center flex-col mb-10">
    <h2 class="font-barlow text-2xl sm:text-4xl font-extrabold m-10">PARCEIROS</h2>
    <h3 class="font-barlow text-xl font-medium mb-5">
      Marcas que contam com a BMoomm
    </h3>
    <div class="flex flex-wrap justify-center items-center w-5/6" id="counts">
      <img src="/logosBia/Flyer_A4_Fabrica-(1)-(1).png" alt="" />
      <img src="/logosBia/LOGO_FINAL_COR.png" alt="" />
      <img src="/logosBia/Comthá-Logo-06.png" alt="" />
      <img src="/logosBia/Marca_Lindacap_v2021_full color_page-0001 (1).jpg" alt="" />
      <img src="/logosBia/logo ESAG Vetor.png" alt="" />
      <img src="/logosBia/logo Natan.png" alt="" />
      <img src="/logosBia/Lucas Mora..png" alt="" />
      <img src="/logosBia/LOGO_TUTU_PRETA_PNG.png" alt="" />
      <img src="/logosBia/logo Instituto Filantropia.png" alt="" />
      <img src="/logosBia/Logo_Zeppa.png" alt="" />
      <img src="/logosBia/Aldo Nunes.png" alt="" />
    </div>
    <h3 class="font-barlow text-xl font-medium my-10">
      Marcas que já contaram com a BMoomm
    </h3>
    <div class="flex flex-wrap justify-center items-center w-5/6" id="dont-count">
      <img src="/logosBia/Grupo-Novo-Brasil_logo-site.jpg" alt="" />
      <img src="/logosBia/nsc_comunicacao.png" alt="" />
      <img src="/logosBia/logo MK.jpeg" alt="" />
      <img src="/logosBia/Logo kore fundo branco.png" alt="" />
      <img src="/logosBia/Caroline Von Jelita CVJ - Avatar Marca_versão principal.png" alt="" />
      <img src="/logosBia/LOGOTIPO-PRETO.png" alt="" />
      <img src="/logosBia/Logo.png" alt="" />
      <img src="/logosBia/OS 1.jpg" alt="" />
      <img src="/logosBia/Beer Box by Azzorre - Avatar Marca_versão reduzida 1 fundo branco.png" alt="" />
      <img src="/logosBia/Azzorre Pizza and Wine - Avatar Marca_versão reduzida 1 fundo branco.png" alt="" />
      <img src="/logosBia/Vin & Voyage - Avatar Marca_versão vertical colorida sem fundo.png" alt="" />
      <img src="/logosBia/marca_deitada.png" alt="" />
      <img src="/logosBia/Logo-Luma Paganella_curvas.jpg" alt="" />
      <img src="/logosBia/Untitled design (2) (1).png" alt="" />
      <img src="/logosBia/logo 3.png" alt="" />
      <img src="/logosBia/logo cubby.png" alt="" />
    </div>
  </div>
</Layout>

<style>
  #counts, #dont-count {
    gap: 2em;
    margin-bottom: 40px;
  }
  #counts > img, #dont-count > img {
      width: 150px;
  }

</style>