---
import Layout from "../layouts/Layout.astro";
import ContactForm from "../components/contato/ContactForm"
---

<Layout title="Contato | BMomm Comunicação" description="Contato | BMomm Comunicação">
  <div class="flex justify-center flex-col items-center mx-10">
    <h2 class="text-gold text-3xl sm:text-4xl font-barlow my-10 ">Contato</h2>
    <p class="text-slate-800 font-barlow text-lg text-center mb-10">Quer saber mais ou ficou com alguma dúvida? Entre em contato com a gente!</p>
  </div>
  <ContactForm client:only/>
</Layout>
