---
import Layout from '../layouts/Layout.astro';
import HowCanWeHelpYou from "../components/index/HowCanWeHelpYou"
import AboutUs from "../components/index/AboutUs"
import Conect from "../components/index/Conect"
import Partners from "../components/index/Partners"

---

<Layout title="Home | BMomm Comunicação" description="Home | BMomm Comunicação">
	<div class="w-full flex justify-center bg-[#3289C9] pb-20">
		<img src="/BMomm_banner.png" alt="Banner de fundo da BMomm" class="w-5/6">
	</div>
	<HowCanWeHelpYou client:only/>
	<AboutUs client:only/>
	<Partners client:only/>
	<Conect client:only/>
</Layout>
