---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Serviços">
  <div class="w-screen flex justify-center flex-col items-center">
    <div class="w-5/6 m-10">
      <img
        class="rounded-sm"
        src="/prettyImages/servicos/Rectangle 1803.png"
        alt=""
      />
    </div>
    <div class="w-5/6 m-5 flex flex-col jusfify-center items-center">
      <h1 class="text-2xl sm:text-4xl font-barlow mb-5">MARKETING DIGITAL</h1>
      <div class="sm:flex flex-none justify-around">
        <div class="w-full sm:w-1/2">
          <h2 class="section-title">
            Por que você precisa de marketing digital?
          </h2>
          <p class="paragraph">
            Com um mundo cada vez mais conectado, estar no mundo online e nas
            redes sociais é imprescindível. E não estamos falando apenas de
            presença, mas sim de conteúdos marcantes e relevantes capazes de
            elevar uma marca e garantir autoridade na web. Nós da BMomm
            Comunicação acreditamos no poder de conexão das redes sociais e
            pessoas reais e por isso trazemos o melhor aos nossos clientes. Do
            planejamento até a análise de resultados, vamos criar uma
            identidade, tanto visual, como de linguagem.
          </p>
          <h2 class="section-title">Nossa abordagem e o que oferecemos</h2>
          <p class="paragraph">
            Marketing Digital são as extensões e representações visuais de uma
            marca. Criar conteúdo personalizado é trazer a marca à vida. É nesse
            ponto que construímos um universo que cria um verdadeiro
            envolvimento, seguindo uma regra simples: falar às emoções. Nosso
            conteúdo personalizado traz alegria e emoção aos seus clientes.
          </p>
          <h3 class="sub-title">Gestão de Redes Sociais</h3>
          <p class="paragraph">
            A Gestão de Redes Sociais é essencial para o sucesso de uma empresa
            na era digital. Por meio de estratégias personalizadas, criação de
            conteúdo relevante e interação com o público, essa prática
            impulsiona a visibilidade da marca, aumenta o engajamento dos
            clientes e gera oportunidades de negócio.
          </p>
          <h3 class="sub-title">Tráfego pago</h3>
          <p class="paragraph">
            O tráfego pago em redes sociais é uma estratégia poderosa para
            impulsionar os negócios de uma empresa. Ao investir nessa modalidade
            de publicidade, é possível alcançar um público altamente segmentado
            e aumentar a visibilidade da marca de forma rápida e eficiente. As
            campanhas de tráfego pago oferecem controle total sobre o orçamento
            e permitem mensurar os resultados de forma precisa.
          </p>
          <h3 class="sub-title">Email Marketing</h3>
          <p class="paragraph">
            Descubra o poder do e-mail marketing e transforme a forma como sua
            empresa se comunica com o público. Com estratégias cuidadosamente
            planejadas e mensagens personalizadas, o e-mail marketing oferece
            benefícios significativos para o seu negócio.
          </p>
        </div>
        <div class="w-full sm:w-1/2 ml-0 sm:ml-10">
          <p class="paragraph">
            Ao utilizar essa ferramenta, você pode alcançar diretamente a caixa
            de entrada de seus clientes, estabelecendo um canal exclusivo de
            comunicação. Desde informações relevantes até ofertas exclusivas, o
            e-mail marketing permite construir relacionamentos sólidos, aumentar
            o engajamento e impulsionar as vendas.
          </p>
          <h3 class="sub-title">Marketing de Conteúdo</h3>
          <p class="paragraph">
            O marketing de conteúdo oferece benefícios significativos, como o
            estabelecimento de autoridade e expertise no mercado, construção de
            relacionamentos com os clientes e aumento da visibilidade da marca.
          </p>
          <h3 class="sub-title">Inbound Marketing</h3>
          <p class="paragraph">
            Inbound Marketing surge como uma revolução na forma de atrair,
            engajar e converter clientes. Esqueça as estratégias de marketing
            invasivas e inconvenientes! Com o Inbound Marketing, a empresa se
            torna um imã de sucesso. Imagine despertar a curiosidade do seu
            público-alvo por meio de conteúdos relevantes e envolventes. Essa é
            a essência do Inbound Marketing. Ao oferecer informações úteis,
            educar e entreter, sua empresa se posiciona como uma autoridade no
            mercado, conquistando a confiança e a preferência dos consumidores.
          </p>
          <h3 class="sub-title">Search Engine Optimization (SEO)</h3>
          <p class="paragraph">
            A otimização para motores de busca (SEO) é uma ferramenta essencial
            para impulsionar a visibilidade e o sucesso de uma empresa online.
            Ao aplicar estratégias de SEO, sua empresa aumenta a chance de ser
            encontrada pelos clientes em potencial nos resultados de pesquisa.
            Isso significa maior tráfego qualificado para o seu site, o que se
            traduz em mais oportunidades de negócios. Com um bom SEO, sua
            empresa pode posicionar-se na frente da concorrência, gerando
            confiança e credibilidade.
          </p>
        </div>
      </div>
    </div>
  </div>
</Layout>

<style>
  .section-title {
    font-family: Barlow;
    font-size: 32px;
    font-weight: 600;
    line-height: 100.5%;
    letter-spacing: 0.96px;
    margin: 10px 0;
  }

  .sub-title {
    color: #000;
    font-family: Barlow;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 100.5%;
    letter-spacing: 0.78px;
    margin: 10px 0;
  }

  .paragraph {
    color: #000;
    text-align: justify;
    font-family: Cormorant Garamond;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 119.5%;
    letter-spacing: -0.095px;
    margin: 20px 0;
  }
</style>
