---

---

<div class="carousel w-full rounded-2xl">
  <div id="slide1" class="carousel-item relative w-full">
    <img src="/aboutUs/IMG_3718.jpg" class="w-full" />
    <div
      class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2"
    >
      <a href="#slide2" class="btn btn-circle btn-outline">❮</a>
      <a href="#slide2" class="btn btn-circle btn-md btn-outline">❯</a>
    </div>
  </div>
  <div id="slide2" class="carousel-item relative w-full">
    <img src="/aboutUs/IMG_3844.jpg" class="w-full" />
    <div
      class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2"
    >
      <a href="#slide1" class="btn btn-circle btn-md btn-outline">❮</a>
      <a href="#slide1" class="btn btn-circle btn-md btn-outline disabled">❯</a>
    </div>
  </div>
</div>
